

@{
    Layout = "~/Areas/UserArea/Views/Shared/_LayoutPage1.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
        <h1 style="text-align:center;"> Welcome To UserHome...!</h1>
</body>
</html>